# https://docs.docker.com/engine/reference/builder/#dockerignore-file
asciidoc/
classes/
generated-docs/
generated-sources/
generated-test-sources/
h2db/
jacoco/
maven-archiver/
maven-status/
reports/
site/
surefire-reports/
test-classes/
test-results/
www/
!*.jar
!*.war
